<div class="bg-slate-300 lg:px-8 px-4">
    <div class="flex lg:flex-row flex-col  justify-between">
        <div class="flex flex-col lg:my-4 my-2 mx-4" style="font-family: math">
            <img src="https://res.cloudinary.com/nithinmanda/image/upload/v1728291491/Screenshot_2024-10-07_at_2.27.23_PM_deq6f9.png"
                width="400px" height="200px" />
            <div class="flex flex-row items-center p-2  text-lg     ">
                <i class="pi pi-phone  mr-2" style="font-size: 1rem"></i>
                <h1>+91 9912491246</h1>
            </div>
            <div class="flex flex-row items-center p-2  text-lg      ">
                <i class="pi pi-envelope  mr-2" style="font-size: 1rem"></i>
                <h1>goudnithin77gmail.com</h1>
            </div>
            <div class="flex flex-row items-center p-2  text-lg      ">
                <i class="pi pi-map-marker mr-2" style="font-size: 1rem"></i>
                <h1>Priyadarshini College of Engineering, Sai Prabhat Nagar, Khammam
                    507002</h1>
            </div>


        </div>
        <div class="flex flex-col lg:my-4 mx-4">
            <div
                class="flex flex-row w-40 items-center p-2 justify-center text-md  mt-4 font-semibold   cursor-pointer">
                <i class="pi pi-external-link
                cursor-pointer mr-2" style="font-size: 1.5rem"></i>
                <h1>Quick Links</h1>
            </div>
            <div class="flex flex-row  p-2  text-lg   items-center  cursor-pointer" style="font-family: math">
                <i class="pi pi-angle-right  mr-2" style="font-size: 1rem"></i>
                <a class="underline">Home</a>
            </div>
            <div class="flex flex-row  p-2  text-lg   items-center  cursor-pointer" style="font-family: math">
                <i class="pi pi-angle-right  mr-2" style="font-size: 1rem"></i>
                <a class="underline">About Us</a>
            </div>
            <div class="flex flex-row  p-2  text-lg  items-center cursor-pointer  " style="font-family: math">
                <i class="pi pi-angle-right  mr-2" style="font-size: 1rem"></i>
                <a class="underline">College Brochure</a>
            </div>
            <div class="flex flex-row  p-2  text-lg  items-center  cursor-pointer " style="font-family: math">
                <i class="pi pi-angle-right  mr-2" style="font-size: 1rem"></i>
                <a class="underline">Our Recruiters</a>
            </div>
        </div>
        <div class="flex flex-col lg:my-4  mx-4">
            <div class="flex flex-row  p-2  text-lg  mt-4 font-semibold   cursor-pointer">
                <h1>Follow us on</h1>
            </div>
            <div class="flex flex-row p-2">
                <i class="pi pi-facebook  mr-2" style="font-size: 1.5rem"></i>
                <i class="pi pi-instagram  mr-2" style="font-size: 1.5rem"></i>
                <i class="pi pi-twitter mr-2" style="font-size: 1.5rem"></i>
                <i class="pi pi-tiktok  " style="font-size: 1.5rem"></i>
            </div>

        </div>
    </div>

</div>